/Projeto 01/OlaWeb/dist/
/Projeto 02/SomarParcelas/nbproject/private/
/Projeto 02/SomarParcelas/build/
/Projeto 02/TesteFuncionalSomarParcelas/nbproject/private/
/Projeto 02/TesteFuncionalSomarParcelas/build/
/Projeto 02/TesteFuncionalSomarParcelas/dist/
/Projeto 03/TiposGenericos/nbproject/private/
/Projeto 03/TiposGenericos/build/
/Projeto 04/Entrega01/nbproject/private/
/Projeto 04/Entrega01/build/
/Projeto 04/TesteFuncionalCenverterValores/nbproject/private/
/Projeto 04/TesteFuncionalCenverterValores/build/
/Projeto 04/TesteFuncionalCenverterValores/dist/
/Projeto 04/TesteFuncionalConverterValores/nbproject/private/
/Projeto 04/TesteFuncionalConverterValores/build/
/Projeto 05/ContadoresEscopo/nbproject/private/
/Projeto 05/ContadoresEscopo/build/
/Projeto 05/OraculoMVC/nbproject/private/
/Projeto 05/OraculoMVC/build/
/Projeto 07/OlaLambda/nbproject/private/
/Projeto 07/OlaLambda/build/
/Projeto 06/OraculoMVC/nbproject/private/
/Projeto 08/Tradutor/nbproject/private/
/Projeto 08/Tradutor/build/
/Projeto 08/TesteFuncionalTradutor/nbproject/private/
/Projeto 08/TesteFuncionalTradutor/build/
/Projeto 09/AcessoBancoDeDados/nbproject/private/
/Projeto 09/AcessoBancoDeDados/build/