/Projeto 01/OlaWeb/dist/
/Projeto 02/SomarParcelas/nbproject/private/
/Projeto 02/SomarParcelas/build/
/Projeto 02/TesteFuncionalSomarParcelas/nbproject/private/
/Projeto 02/TesteFuncionalSomarParcelas/build/
/Projeto 02/TesteFuncionalSomarParcelas/dist/
/Projeto 03/TiposGenericos/nbproject/private/
/Projeto 03/TiposGenericos/build/